body {
  position: relative;
  transform: translate(0, 0, 0);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  background-color: #989EA5;
}

nav ul {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #82888F;
}

nav ul li {
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 1.56em;
  width: fit-content;
  text-align: center;
  font-size: 12px;
  border-right: 4px solid #636669;
}

nav ul li.dropdown ul.dropdown-content {
  visibility: hidden;
}


nav ul li.dropdown:hover ul.dropdown-content {
  display: block;
  visibility: visible;
  margin-top: 1.56em;
  width: fit-content;
  background-color: #82888F;
}


nav ul li.dropdown:hover ul.dropdown-content li {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 3.15em);
  text-align: center;
  border: none;
}

nav ul li:hover, nav ul li.dropdown ul.dropdown-content li:hover {
  transition: ease 420ms;
  background-color: #424546;
}

nav ul li#active, nav ul li.dropdown#active {
  background-color: #595b5b;
}

nav ul li:last-child {
  border: none;
}

nav ul li a, nav ul li.dropdown ul.dropdown-content li a, nav ul li.dropdown a {
  text-decoration: none;
  color: #c3cace;
}

body main {
  position: relative;
  display: flex;
  width: 100%;
  z-index: -1;
}

body main div#round-corner-box {
  margin: 7.24em 3.12em 0 3.12em;
  padding: 2em;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 33px;
  background-color: #8D9197;
}

body main div#round-corner-box div#direction {
  display: flex;
  flex-direction: row-reverse;
}

body main div#round-corner-box div#align {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

body main div#round-corner-box div#flow, 
body main div#round-corner-box div#order, body main div#round-corner-box div#grow, body main div#round-corner-box div#shrink {
  display: flex;
  flex-flow: row wrap;
}

body main div#round-corner-box div#direction p, body main div#round-corner-box div#align p, body main div#round-corner-box div#flow p,
body main div#round-corner-box div#order p, body main div#round-corner-box div#grow p, body main div#round-corner-box div#shrink p {
  line-height: 200%;
  margin: 2em;
  padding: 2em;
  height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 33px;
  background-color: #70757b;
}

body main div#round-corner-box div#direction p#first-item {
  margin-right: 20em;
}

body main div#round-corner-box div#align > p#first-item {
  margin-left: 4em;
}

body main div#round-corner-box div#flow p#first-item {
  margin-left: 20em;
}

body main div#round-corner-box div#order p#first-item {
  order: 2;
}

body main div#round-corner-box div#order p#second-item {
  order: 4;
}

body main div#round-corner-box div#order p#third-item {
  margin-left: 30em;
  order: 1;
}

body main div#round-corner-box div#order p#fourth-item {
  order: 3;
}

body main div#round-corner-box div#grow p#grown-item {
  flex-grow: 2;
}

body main div#round-corner-box div#shrink p#first-item {
  margin-left: 20em;
}

body main div#round-corner-box div#shrink p#shrank-item {
  flex-shrink: 0;
}